/*------------------------重置默认css-----------------------------------*/

* {
text-decoration:none;
}


/*-----------------------------外壳------------------------------------*/
body {
background-color:#b8b8b8;

}

div.box {
position:absolute;
top:0px;
left:150px;
width:994px;
height:1200px;
}

/*-----------------------------banner条------------------------------------*/

div.banner {
width:924px;
height:120px;
margin-top:0px;
margin-left:35px;
margin-bottom:0px;
-webkit-box-shadow:0px 0px 50px #000000;
}



div.nav {
position:absolute;
top:120px;
left:0px;
color:red;
width:994px;
background-color:black;
height:28px;
}

a.navList {
font-family:微软雅黑;
font-size:17;
font-weight:bold;
color:white;
text-decoration:none;
text-shadow:2px 2px 5px #000;
}

a#shouye
{
color:red;
}

a.navList:hover {
color:yellow;
}

/*-----------------------------主体部分------------------------------------*/
div.box2
{
position:absolute;
left:35px;
top:148px;
background-color:white;
width:924px;
height:850px;
-webkit-box-shadow:0px 0px 50px #000000;
}

/*-----------------------------页尾------------------------------------*/
div.link {
position:absolute;
left:0px;
top:998px;
width:994px;
height:28px;
background-color:black;
}

div.contact {
position:absolute;
right:50px;
top:1040px;
}
a#contact {
font-weight:bold;
color:grey;
font-size:20;
}
a.link {
font-family:幼圆;
color:white;
font-weight:bold;
font-size:20;
}
a#link {
font-family:幼圆;
color:white;
font-weight:bold;
font-size:20;
}
div#cLink {
float:right;
}