div#iFlash {
float:left;
height:250px;
width:400px;
background-color:blue;
margin-left:40px;
margin-top:30px;
}
div#kjfw {
float:right;
height:250px;
width:400px;
background-color:blue;
margin-right:40px;
margin-top:30px;
}
div#tzygs
{
float:left;
height:250px;
width:400px;
margin-left:40px;
margin-top:30px;
}
div#sthd
{
float:right;
height:250px;
width:400px;
margin-right:40px;
margin-top:30px;
}
div#xwzx
{
float:left;
height:250px;
width:400px;
margin-left:40px;
margin-top:30px;
}
div#xshhd
{
float:right;
height:250px;
width:400px;
margin-right:40px;
margin-top:30px;
}
a.titile {
font-family:幼圆;
font-size:31;
font-weight:bold;
}
ul
{
font-family:幼圆;
font-weight:bold;
}
div.more {
float:right;
}
a.more
{
color:red;
font-weight:bold;
font-family:幼圆;
text-decoration:none;
font-size:20;
}
