.clearer {
  clear: both;
}
#type {
  height: 32px;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
  
}
.type_button, .type_button_selected {
  margin-right: 3em;
  display: inline-block;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid;
  border-width: 1px;
  border-color: transparent;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.type_button_selected {
  background-color: #FFB8B8;
  border-color: #A30000;
}
#subtype_boxes {
  height: 32px;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.subtype_box {
  list-style-type: none;
  list-style-position: outside;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}
.subtype_button, .subtype_button_selected {
  margin-right: 3em;
  display: inline-block;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  font-size: 16px;
  line-height: 20px;
}
.subtype_button_selected {
  background-color: #FFB8B8;
  border-color: #A30000;
}
#host {
  list-style-type: none;
  list-style-position: outside;
  padding: 0px;
  margin: 0px;
  height: 23px;
}
.host_button {
  display: inline-block;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  font-size: 0px;
}
.host_button_core, .host_button_core_selected {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  border-style: none none dotted none;
  border-color: transparent;
  border-width: 2px;
}
.host_button_preparing {
  float: left;
  width: 0px;
}
.host_button_core_selected {
  border-color: #A30000;
}
.host_button_remover_box {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.host_add_container, .host_add_container * {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}
.host_add_button {
  width: 16px;
  height: 23px;
  position: relative;
}
.host_add_button * {
  bottom: 11px;
  left: 8px;
  width: 16px;
  height: 16px;
  margin-bottom: -8px;
  margin-left: -8px;
  position: absolute;
}
.host_add_input_box {
  height: 20px;
  border: 1px solid black;
}
#result_box {
	margin-top: 10px;
}
#result {
}
#result>div {
  float: left;
}
#result div.result_block {
  padding: 10px;
  margin: 5px;
  background-color: #EEEEEE;
  width: 370px;
  height: 108px;
  overflow-y: hidden;
}
#result div.result_title {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 18px;
  border-style: none none dotted none;
  border-width: 0 0 1px 0;
  border-color: #202020;
  margin-bottom: 10px;
}
#result div.result_content {
  font-size: 16px;
  overflow-y: hidden;
}
#selector_box_upper, #selector_box_upper div, #selector_box_upper ul,
#selector_box_lower, #selector_box_lower div, #selector_box_lower ul {
  margin: 0px;
  padding: 0px;
}
#selector_box_upper ul,
#selector_box_lower ul {
  list-style-type: none;
  list-style-position: outside;
}
#selector_box_upper ul li,
#selector_box_lower ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
}
.special_styled input[type=text] {
  background-color: transparent;
  padding: 0px;
  border: 1px solid black;
  height: 16px;
  font-size: 14px;
}
.ui-widget {
  font-size: 14px;
}

.ui-button .ui-button-text {
  line-height: 18px;
}

#prompt_type, #prompt_host {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 28px;
  line-height: 32px;
  margin-top: 28px;
  margin-bottom: 12px;
  width: 350px;
  position: relative;
}

#prompt_type .hr,
#prompt_host .hr {
  background-image: url('/images/hr.png');
  background-position: 0px 6px;
  background-repeat: no-repeat;
  width: 222px;
  height: 32px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
